<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politician-Party</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

<div class="landing-container">
    <h1>Politician-Party</h1>
    <div id="score" th:text="'Punktzahl: ' + ${score}"></div>
    <div class="buttons">
        <button class="startQuiz" onclick="window.location.href='/quiz'">
            <span>Quiz starten</span>
        </button>
    </div>
</div>

</body>
</html>